WebForm/WebService/BMI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BMICal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Weigth" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BMICalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BMICalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BMICalSoapIn">
    <wsdl:part name="parameters" element="tns:BMICal" />
  </wsdl:message>
  <wsdl:message name="BMICalSoapOut">
    <wsdl:part name="parameters" element="tns:BMICalResponse" />
  </wsdl:message>
  <wsdl:portType name="BMISoap">
    <wsdl:operation name="BMICal">
      <wsdl:input message="tns:BMICalSoapIn" />
      <wsdl:output message="tns:BMICalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BMISoap" type="tns:BMISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BMICal">
      <soap:operation soapAction="http://tempuri.org/BMICal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BMISoap12" type="tns:BMISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BMICal">
      <soap12:operation soapAction="http://tempuri.org/BMICal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BMI">
    <wsdl:port name="BMISoap" binding="tns:BMISoap">
      <soap:address location="https://localhost:44301/WebService/BMI.asmx" />
    </wsdl:port>
    <wsdl:port name="BMISoap12" binding="tns:BMISoap12">
      <soap12:address location="https://localhost:44301/WebService/BMI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>